html,
body {
  font-family: "Libre Baskerville", serif;
}

* {
  font-family: inherit;
}

body {
  background: radial-gradient(
    circle at 50% 35%,
    #D1B394 0%,
    #B4A764 27%,
    #2D6A4B 58%,
    #172D22 90%,
    #0B1F17 100%
  );
  color: white;
  margin: 0;
}

// FEEL FREE TO EDIT THE BELOW, I JUST MADE UP THE NUMBERS
h1 {

  font-size: 40px;
  font-weight: 700;

  margin: 0;

}

h2 {

  font-size: 32px;
  font-weight: 400;

  margin: 0;

}

h3 {

  font-size: 24px;
  font-weight: 400;

  margin: 0;

}

p {

  font-size: 18px;
  line-height: 1.6;

  margin: 0;

}



