@import "../styles/variables";

.section {
  padding: 80px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: $about-card-bg;

  &::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    background: $glow-effect;
    pointer-events: none;
    z-index: 0;
  }
}
.heading {
  display: inline-block;
  padding: 12.5px 12.5px;
  color: $text-primary;
  background: $badge-gradient; 
  border-bottom: 1px; 
  border-radius: 15px;
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 30px;

}

.question {
  padding: 15px 15px;
  margin-bottom: 30px;
  color: $text-primary;  
  border-radius: 20px;
  font-weight: 700;
  font-size: 64px;
  font-style: bold;

  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
  }

}

.limeColor {
  color: $text-secondary;
}

.answer {
  color: $answer-color;
  font-size: 20px;
  line-height: 1.5;
  font-style: bold;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}