$text-primary: #ffffff; // White
$text-secondary: #73C58B; // Green

$accent-primary: #ffffff; // White
$accent-secondary: #BFA372; // Gold-ish

$background-card: rgba(217, 217, 217, 0.3); // Semi-transparent light gray
$border-color: #ffffff; // White